.main {
    margin: 30px;
    background-color: #ffffff;
    height: 600px;
}

body {
    background-color: #efefef;
}

.publish-btn {
    float: right;
}

.img-size {
    height: 45px;
    width: 45px;
}

.question-list {
    margin-bottom: 15px;
}

.img-comment {
    padding: 10px 0;
}

.text-comment {
    margin-top: 10px;
}

.btn-comment {
    margin-top: 15px;
    float: right;
}

.comment-icon {
    margin-top: 10px;
}

hr {
    margin-top: 0;
}