<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>发布--麻将社区</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/community.css">
</head>
<body>
<div th:insert="~{navications :: navication}"></div>
<div class="container-fluid main">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr/>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题" th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="description">问题补充</label>
                    <textarea class="form-control" rows="10" id="description" name="description" th:value="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="创建或搜索新话题" th:value="${tag}">
                </div>
                <div class="alert alert-danger" role="alert" th:if="${error} != null" th:text="${error}"></div>
                <button type="submit" class="btn btn-success publish-btn">发布</button>
            </form>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        XXXXXXXXXXX
    </div>
</div>
</body>
</html>
